:root {
    --grid-column: 400px;
}

.gifsList {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-column), 1fr));
    grid-gap: 10px 10px;
    margin: 0 16px;
}

@media screen and (max-width: 37.5rem) {
    :root {
        --grid-column: 280px;
    }
}

@media screen and (max-width: 28rem) {
    :root {
        --grid-column: 260px;
    }
}
