.gif-fav {
    position: absolute;
    right: 7px;
    top: 6px;
    z-index: 1;
}

.favBtn {
    background: rgb(43, 43, 43);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 40px;
    height: 40px;
}
.favBtn:hover {
    background: rgb(85, 85, 85);
}

.gif-fav svg {
    margin-top: 5px;
}

.not-faved,
.faved {
    font-size: 1.9rem;
    transition: all 0.3s ease;
}
.not-faved {
    fill: rgb(252, 232, 232);
}
.faved {
    fill: rgb(255, 0, 0);
}
