.loginForm {
    background-color: rgb(55, 60, 71);
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 15px;
    outline: none;
}

.form button {
    width: 80px;
    margin: 0 auto;
}

.form input,
.form button {
    padding: 10px;
    font-size: 1, 3rem;
}

@media screen and (min-width: 34rem) {
    .loginForm {
        margin: 0 auto;
        width: 375px;
    }
    .form input {
        width: 315px;
    }
}
