.loginFormDiv {
    padding: 10px;
    width: 100%;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm label {
    color: #fff;
    font-size: 1.5rem;
}

.loginForm input {
    margin-bottom: 15px;
    outline: none;
}

.loginBtn {
    width: 100%;
    background-color: #eee;
    border: none;
    margin: 15px auto 0 auto;
    cursor: pointer;
    transition: all 0.2s ease;
}
.loginBtn:hover {
    background-color: #4b4f64;
    color: #fff;
}
.loginBtn:active {
    background-color: #3d4361;
    color: #fff;
}

.loginForm input,
.loginBtn,
h5 {
    outline: none;
    font-family: 'Hind Siliguri', sans-serif !important;
    font-size: 1.4rem;
    line-height: 2.2;
}

h5 {
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 300px) {
    .loginFormDiv {
        width: 270px;
        margin: 0 auto;
    }
    .loginBtn {
        width: 250px;
    }
}
