.searchForm {
    margin-bottom: 25px;
}
.searchForm input,
.searchForm button {
    padding: 10px;
    outline: none;
    font-size: 1.4rem;
}

.searchForm button {
    margin-left: 5px;
}

.subtitle {
    font-size: 1.8rem;
    margin: 35px 0 0 0;
    color: #8e9db4;
    text-decoration: underline;
}
