.searchForm {
    padding: 10px;
    position: sticky;
    top: 2px;
    z-index: 2;
    background-color: rgba(45, 45, 58, 0.9);
}

.searchForm input,
.searchBtn,
.searchForm select {
    line-height: 2;
    outline: none;
    font-family: 'Hind Siliguri', sans-serif !important;
    font-size: 1.4rem;
}

.searchForm input {
    width: 60%;
}

.filters {
    display: flex;
    justify-content: center;
    align-content: center;
}

.searchBtn {
    width: 30%;
    border: none;
    line-height: 2.1;
    transition: all 0.3s ease;
}
.searchBtn:hover {
    background-color: #4b4f64;
    color: #fff;
}
.searchBtn:active {
    background-color: #3d4361;
    color: #fff;
}

.searchForm select {
    margin-top: 5px;
    width: 20%;
    padding: 3px;
    border-radius: 10px;
}

.searchBtn,
.searchForm select {
    margin-left: 5px;
}

@media screen and (min-width: 42rem) {
    .searchForm {
        width: 470px;
        margin: 0 auto;
    }
    .searchForm input {
        width: 270px;
    }
    .searchForm select {
        width: 90px;
    }
}

@media screen and (min-width: 28rem) {
    .searchBtn {
        width: 90px;
    }
}

@media screen and (max-width: 35rem) {
    .searchForm select {
        width: 73px;
    }
}
