.searchForm {
    padding: 10px;
    position: sticky;
    top: 5px;
    z-index: 2;
    background-color: rgba(45, 45, 58, 0.9);
}

.searchForm input,
.searchForm button,
.searchForm select {
    padding: 4.5px;
    outline: none;
    font-family: 'Hind Siliguri', sans-serif !important;
    font-size: 1.4rem;
}

.searchForm input {
    width: 60%;
}

.filters {
    display: flex;
    justify-content: center;
    align-content: center;
}

.searchForm button {
    width: 30%;
}

.searchForm select {
    margin-top: 5px;
    width: 20%;
    padding: 3px;
    border-radius: 10px;
}

.searchForm button,
.searchForm select {
    margin-left: 5px;
}

@media screen and (min-width: 42rem) {
    .searchForm {
        width: 470px;
        margin: 0 auto;
    }
    .searchForm input {
        width: 270px;
    }
    .searchForm select {
        width: 90px;
    }
}

@media screen and (min-width: 28rem) {
    .searchForm button {
        width: 90px;
    }
}

@media screen and (max-width: 35rem) {
    .searchForm select {
        width: 73px;
    }
}
