.searchForm {
    padding: 10px;
    position: sticky;
    top: 2px;
    z-index: 2;
    background-color: rgba(45, 45, 58, 0.9);
}

.searchForm input,
.filters select {
    padding: 0.2rem 1rem !important;
    outline: none;
    font-family: 'Hind Siliguri', sans-serif !important;
    font-size: 16px;
}

.searchForm input {
    width: 60%;
}

.filters {
    display: flex;
    justify-content: center;
    align-content: center;
}

.filters select {
    margin-top: 5px;
    width: 20%;
    padding: 3px;
    border-radius: 10px;
}

.filters select {
    margin-left: 5px;
}

@media screen and (min-width: 42rem) {
    .searchForm {
        width: 470px;
        margin: 0 auto;
    }
    .searchForm input {
        width: 270px;
    }
    .filters select {
        width: 90px;
    }
}

@media screen and (min-width: 28rem) {
    .searchBtn {
        width: 90px;
    }
}

@media screen and (max-width: 35rem) {
    .searchForm select {
        width: 73px;
    }
}
