.registerFormDiv {
    background-color: rgb(55, 60, 71);
    padding: 30px;
}

.registerForm {
    display: flex;
    flex-direction: column;
}

.registerForm input {
    margin-bottom: 15px;
    outline: none;
    line-height: 1.9;
}

.registerForm button {
    width: 80px;
    margin: 15px auto 0 auto;
}

.registerForm input,
.registerForm button {
    padding: 4.5px;
    outline: none;
    font-family: 'Hind Siliguri', sans-serif !important;
    font-size: 1.4rem;
}

@media screen and (min-width: 34rem) {
    .registerFormDiv {
        margin: 0 auto;
        width: 375px;
    }
    .registerForm input {
        width: 315px;
    }
}
