.registerFormDiv {
    padding: 10px;
    width: 100%;
}

.registerForm {
    display: flex;
    flex-direction: column;
}

.registerForm label {
    color: #fff;
    font-size: 1.5rem;
}

.registerForm input {
    margin-bottom: 15px;
}

.input-error {
    color: red;
    display: block;
    margin-top: -10px;
    margin-bottom: 5px;
}

.error {
    outline: 1px solid red;
}

.registerBtn {
    width: 100%;
    background-color: #eee;
    border: none;
    outline: none;
    margin: 15px auto 0 auto;
    cursor: pointer;
    transition: all 0.2s ease;
}
.registerBtn:hover {
    background-color: #4b4f64;
    color: #fff;
}
.registerBtn:active {
    background-color: #3d4361;
    color: #fff;
}

.registerForm input,
.registerBtn,
h5 {
    font-family: 'Hind Siliguri', sans-serif !important;
    font-size: 1.4rem;
    line-height: 2.2;
}

h5 {
    outline: none;
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 300px) {
    .registerFormDiv {
        width: 270px;
        margin: 0 auto;
    }
    .registerBtn {
        width: 250px;
    }
}
