.App {
    text-align: center;
}

.App-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:visited {
    color: rgb(206, 146, 146);
}
a:hover {
    color: #f0cfcf;
}

.title {
    font-size: 5rem;
    color: #fff;
    padding: 20px;
    margin-bottom: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
