.App {
    text-align: center;
}

.App-content {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 16px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.centeredLoadingGifs,
.centeredLoadingTrends {
    width: 100%;
}

.centeredLoadingTrends {
    margin-top: 20px;
}

.form-title {
    font-size: 1.4rem;
    text-align: left;
    padding-bottom: 10px;
    color: #fff;
}
