.App {
    text-align: center;
}

.App-content {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 16px;
    min-height: 100vh;
}

a,
.title {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.title {
    margin-bottom: 15px;
}
.title span {
    font-size: 6rem;
    cursor: pointer;
}

.centeredLoadingGifs,
.centeredLoadingTrends {
    width: 100%;
}

.centeredLoadingTrends {
    margin-top: 20px;
}
