@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

:root {
    --primary-bg-color: #282c34;
    --primary-text-color: #ffffff;
    --trend-bg-color1: teal;
    --trend-bg-color2: darkslategray;
    --trend-bg-color3: midnightblue;
    --grid-column: 400px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media screen and (max-width: 37.5rem) {
    :root {
        --grid-column: 270px;
    }
}

@media screen and (max-width: 28rem) {
    :root {
        --grid-column: 200px;
    }
}

@media screen and (min-width: 37.5rem) {
    :root {
        --grid-column: 300px;
    }
}
